.big{
    width: 100%;
    height: 600px;
    background-color: green;
    
}
.medium{
    width: 50%;
    height:300px;
    background-color: aqua;
}
.small{
    width: 25%;
    height: 150px;
    background-color: azure;
}
.ye{
    color:yellow;
}
.vi{
    color: violet;
}
.in{
    color: indigo;
}
.b{
    color: blue;
}
.g{
    color: green;
}
.o{
    color: orange;
}
.re{
    color: red;
}