/* th{
    border: 2px solid red;
}
td{
    border: 2px solid blue;
}
table{
    border: 2px;
    border-collapse: collapse;
} */

/* 
Group Selector */
table,th,td{
    color: red;
    border: 3px solid blue;
    border-collapse: collapse;
}
table{
    border-collapse: separate;
}